
# Untracked files:


# R

.Rhistory

.RData

.Rproj.user/

# Data (raw + derived)

data/raw/

data/extracted/

data/external/

*.parquet

*.xlsx

# Notebooks (optional: outputs)
.ipynb_checkpoints/

*.ipynb_checkpoints/


